.search-list {

  &__info {
    width:80%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    p {
      font-size: 24px;
      color: #606060;
      font-weight: 600;
    }

    &__search-term {
      color: #fff;
    }
  }

}

//media queries
@media screen and (min-width: 320px) and (max-width: 375px) {
  .search-list {

    &__info {
      flex-direction: column;

      .btn {
        order: -1;
      }
    }
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  .search-list {

    &__info {
      flex-direction: column;

      .btn {
        order: -1;
      }
    }
  }
}