.App {
  max-width: 1400px;
  margin: auto;

  * {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
  }

  background: #000;
  height: 100%;

  .page-title {
    color: #fff;
    text-align: center;
  }
  .list-title {
    font-size: 24px;
    color: #606060;
    font-weight: 600;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
  }

  p {
    color: #404040;
  }
}
